body{
    background: linear-gradient(rgb(0, 0, 255), rgb(0, 0, 173) , rgba(0, 0, 106, 0.767), rgb(0, 0, 84), rgba(4, 0, 71, 0.756), rgb(4, 0, 71),rgb(0, 0, 0));
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: #ffffff;
    font-size: 68px;
    font: bold;
}

#h1transition{
    text-shadow: 0 0 20px rgba(147, 196, 253, 0.566);
    transition: text-shadow 0.1s ease-in-out;
}

h3{
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transition: text-shadow 0.1s ease-in-out;
}

h2{
    color: #BFDBFE ;
    font-size: 50px;
    position: relative;
    top: 2%;
}

h4{
    color: #BFDBFE;
    font-size: 35px;
    position: relative;
    top: 10px;
    right: 500px;
}

.daily-log-container{
    background-color: #1E293B;
    position: relative;
    top: -30px;
    left: 93px;
    width: 1500px;
    height: 800px;
    border-radius: 20px;
    text-shadow: 0 0 10px rgba(46, 46, 46, 0.575);
    transition: text-shadow 0.1s ease-in-out;
}

#daily-log{
    background-color:#0F172A;
    color: #F1F5F9;
    border: 7px solid rgba(255,255,255,0.15);
    border-radius: 9px;
    font-size: 20px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.556);
    transition: text-shadow 0.1s ease-in-out;
    position: relative;
    bottom: 20px;
    right: -10px;
    width: 1300px;
    height: 200px;
}

.savebtn{
    background-color: #aceeeb  ;
    color: #000000;
    position: relative;
    left: 600px ;
    top: -70px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

h5{
    color: #BFDBFE ;
    font-size: 35px;
    position: relative;
    top: -50px;
    right: 570px;
}

#logs-store{
    background-color: #0f172ac8;
    color: #F1F5F9;
    position: relative;
    top: -60px;
    font-size: 30px;
}

.post-generater{
    background-color: #1E293B;
    position: relative;
    left: 93px;
    width: 1500px;
    height: 1000px;
    border-radius: 20px;
    text-shadow: 0 0 10px rgba(46, 46, 46, 0.575);
    transition: text-shadow 0.1s ease-in-out;
}

#generatedpost{
    background-color:#0F172A;
    color: #F1F5F9;
    border: 7px solid rgba(255,255,255,0.15);
    border-radius: 9px;
    font-size: 20px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.556);
    transition: text-shadow 0.1s ease-in-out;
    position: relative;
    bottom: -40px;
    right: -10px;
    width: 1300px;
    height: 700px;
}

#selectbtn{
    background-color: #000000  ;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    left: -460px ;
    bottom: -40px;
    width: 250px;
    height: 35px;
}

#generatebtn{
    background-color: #000000  ;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    left: -450px ;
    bottom: -40px;
    width: 150px;
    height: 35px;  
}

#copybtn{
    background-color: #494747  ;
    color: #ffffff;
    font-size: 7px;
    position: relative;
    left: -50px ;
    bottom: 640px;
    width: 35px;
    height: 25px;
}

#statustext{
    color: #ffffff;
    font-size: 12px;
    position: relative;
    left: 97px ;
    bottom: -60px;
    width: 35px;
    height: 25px;
}
